body{
    background-color:aqua;  
    text-align:center;
}
h1{
    background-color: blue;
    text-align: left;
}
h2{
    background-color: rgb(166, 105, 223);
    text-align:center;
}
p{
    text-align: justify;
    <font-size: 10px>;
}
aside{
    float: right;
    width: calc(20% - 20px);
    background-color: rgb(0, 204, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}